@{
    Layout = "_Layout";
}


   


<article id="mainArticle">
    <h1>Welcome to FamiLink</h1>
    <p class="spotlight">This is FamiLink<br /></p>
    <h1>Winner Winner Chicken Dinner</h1>
    
   
</article>