<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/Main.css">
    <title>FAMTREE</title>
</head>
<body class="hg">
    @RenderBody()
 
    <aside class="hg__left">
        <button type="button">Hint 4</button>
        <button type="button">Hint 3</button>
        <button type="button">Hint 2</button>
        <button type="button">Hint 1</button>
        <figure class="human">
            <img class="persona" src="img/persona.png" alt="person">
            <figcaption>Who is this?</figcaption>
        </figure>
    </aside>
    <main class="hg__main">
        <div class="tree">
                <ul>
                    <li>
                        <figure class="human">
                            <img class="person" src="img/persona.png">
                            <figcaption>Hannah</figcaption>
                        </figure>                  
                            <ul>     
                                    <li>
                                        <figure class="human">
                                            <img class="person" src="img/persona.png">
                                            <figcaption>Hannah</figcaption>
                                        </figure>
                                    </li>
                         
                                    <li>
                                        <figure class="human">
                                            <img class="person" src="img/persona.png">
                                            <figcaption>Nannah</figcaption>
                                        </figure>
                                        <ul>                                           
                                                <li>
                                                    <figure class="human">
                                                        <img class="person" src="img/persona.png">
                                                        <figcaption>Han</figcaption>
                                                    </figure>
                                                </li>
                                          
                                                <li>
                                                    <figure class="human">
                                                        <img class="person" src="img/persona.png">
                                                        <figcaption>Hannsh</figcaption>
                                                    </figure>
                                                    <ul>
                                                        <li>
                                                            <figure class="human">
                                                                <img class="person" src="img/persona.png">
                                                                <figcaption>Hanah</figcaption>
                                                            </figure>
                                                        </li>
                                                        <li>
                                                            <figure class="human">
                                                                <img class="person" src="img/persona.png">
                                                                <figcaption>annah</figcaption>
                                                            </figure>
                                                        </li>
                                                    </ul>
                                                </li>
                                            <li>
                                                <figure class="human">
                                                    <img class="person" src="img/persona.png">
                                                    <figcaption>HHannah</figcaption>
                                                </figure>
                                            </li>
                                            }
                                        </ul>
                                    </li>                               
                            </ul>                        
                        </li>
                </ul>            
        </div>
    </main>
</body>
</html>
