@model FamiTreeProject.ViewModels.HomeViewModel
@{var familyMembers = Model.FamilyMembers; }
@{var testClass = Model.TestClass;

    var hans = testClass;}

<head>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery.orgchart.css" media="all" rel="stylesheet" type="text/css" />
</head>
<main class="hg__main">


    <h1 id="tester" style="margin-top:150px;">FamiTree</h1>
    <div id="orgChartContainer">
        <div id="orgChart"></div>
    </div>
    <div id="consoleOutput">
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript">

        var test = @Html.Raw(Json.Serialize(hans));

        var testData = test;

    </script>
    <script>
        var imghitt = 3;

        var img = document.getElementById('hint');
        var lement;
        var imghit = document.getElementById(lement);
        var hintcounter = 0;


        var hanna = document.getElementById('1');
        var jonna = document.getElementById('2');
        var jeff = document.getElementById('3');
        var jorah = document.getElementById('4');
        var rasmus = document.getElementById('5');
        var hunna = document.getElementById('6');
        var benjamin = document.getElementById('7');

        function compareImages() {
            if
            ("persona " + imghitt == img.attributes[1].value) {

                var change;
                var personId = null;

                switch (imghitt) {

                    case "2":
                        personId = "jonna";
                        tester.innerText = "jonna";
                        break;
                    case "3":
                    case "3":
                        personId = "jeff";
                        tester.innerText = "jeff";
                        break;
                    case "4":
                    case "4":
                        personId = "jorah";
                        tester.innerText = "jeffjorah";
                        break;
                    case "5":
                    case "5":
                        personId = "rasmus";
                        tester.innerText = "jonnjoraha";

                        break;
                    default:
                        personId = "rasmus";
                        personId = "image";

                }
            }
        }


    </script>


    <script type="text/javascript" src="~/js/jquery.orgchart.js"></script>

    <script type="text/javascript">



        $(function () {
            org_chart = $('#orgChart').orgChart({
                data: testData,
                showControls: true,
                allowEdit: true,
                onAddNode: function (node) {
                    log('Created new node on node ' + node.data.id);
                    org_chart.newNode(node.data.id);
                    $.ajax(
                        {
                            type: "Post",
                            url: "Subject/Post",
                            data: {
                                id: node.data.id,
                                name: node.data.name,
                                parent: node.data.parent

                            }

                        });



                },
                onDeleteNode: function (node) {
                    log('Deleted node ' + node.data.id);
                    org_chart.deleteNode(node.data.id);
                },
                onClickNode: function (node) {
                    log('Clicked node ' + node.data.id);
                    imghitt = node.data.id;
                    tester.innerText = "Forkert";
                    if
                    ("persona " + imghitt == img.attributes[1].value) {
                        tester.innerText = img.attributes[1].value;
                    } else {
                        hintcounter++
                        if (hintcounter == 1)
                            hint1.innerText = "Generation";
                        if (hintcounter == 2)
                            hint2.innerText = "Lydfil";
                        if (hintcounter == 3)
                            hint3.innerText = "Videofil";
                        if (hintcounter >= 4)
                            hint4.innerText = "Præsentation";
                    }

                    compareImages();
                }

            });
        });

        // just for example purpose
        function log(text) {
            $('#consoleOutput').append('<p>' + text + '</p>')
        }
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</main>



