/*************************************************************************************************Structure*/


.hg__left {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: floralwhite;
}

    .hg__left > button {
        margin: 20px;
        padding: 10px;
        font-size: 1.5rem;
        background-color: cadetblue;
        border: none;
        border-radius: 5px;
    }

.hg__main {
    grid-area: main;
}

.hg {
    display: grid;
    grid-template-areas: "navigation main";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;

}

/*************************************************************************************************Sidebar*/

.human {
    margin-top: 40px;
   
}

.humancentered{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
}

.persona {
    width: 150px;
    height: auto;
}

.person {
    width: 80px;
}

div.image {
    content: url(/img/persona.png);
    width: 80px;
    height: 63px;
    
   
}

div.hanna {
    content: url(/img/Hanna.png);
    width: 80px;
    height: auto;
    
}

div.jonna {
    content: url(/img/Jonna.png);
    width: 80px;
    height: auto;
   
}

div.jeff {
    content: url(/img/Jeff.png);
    width: 80px;
    height: auto;
}

div.jorah {
    content: url(/img/Jorah.png);
    width: 80px;
    height: auto;
}

div.rasmus {
    content: url(/img/Rasmus.png);
    width: 80px;
    height: auto;
}

div.hunna {
    content: url(/img/Hunnah.png);
    width: 80px;
    height: auto;
}

div.benjamin {
    content: url(/img/Benjamin.png);
    width: 80px;
    height: auto;
}
.generation1 {
    content: url(/img/persona.png);
    width: 80px;
    height: 63px;
   
}

.generation2 {
    content: url(/img/persona.png);
    width: 80px;
    height: 63px;
    
}

.generation3 {
    content: url(/img/persona.png);
    width: 80px;
    height: 63px;
    
}


/*************************************************************************************************Family Tree*/


.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}
